*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace , sans-serif;
    background-color: black;
    color: white;
}

body {
    background-color: black;
}

.logo-of-the-game {
    color: white;
    position: relative;
    text-align: center;
    border-bottom: 2px solid grey;
}

.row{
    width: 100%;
    margin-left: 3px;
    margin-right: 3px;
}

.column{
    width: 25%;
    display: inline-block;
}

.game-info {
    height: 500px;
}
.rules-container {
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 40px;
}

.rules-container2 {
    text-align: center;
    line-height: 50px ;
}

