*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace , sans-serif;
    background-color: black;
    color: white;
}

body {
    background-color: black;
}

.logo-of-the-game {
    color: white;
    position: relative;
    text-align: center;
    border-bottom: 2px solid grey;
}

.images-line {
    height: 150px;
    position: relative;
    text-align: center;

}

.rules-container {
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}

.rules-container2 {
    text-align: center;
}
