*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace , sans-serif;
    color: white;
}

body {
    background-color: black;
}

.logo-of-the-game {
    color: white;
    position: relative;
    text-align: center;
    border-bottom: 2px solid grey;
}

.game-info {
    height: 300px;
}

.line-of-symbols {
    font-size: 35px ;
    display: flex;
    justify-content: space-evenly;
}

.rules-container {
    text-align: center;
    padding: 20px;
}

.rules-container2 {
    text-align: center;
    line-height: 70px ;
}

.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    background: #909090;
    padding: 40px  60px;
}

.stats-container {
    text-align: center;
    margin-bottom: 1.2em;
    color: white;
    height: 50px;
    font-size: larger;
}

.stats-container span {
    font-weight: 900;
}

.game {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    transform-style: preserve-3d;
    perspective: 500px;
}

.tiles {
    margin: 10px auto;
    width: max-content;
    display: grid;
    grid-template-columns: repeat(8, 100px);
    grid-template-rows:repeat(5, 100px) ;
    gap: 16px;
}

.tile {
    background: black;
    cursor: pointer;
    border: 5px solid #D0D0D0;
    text-align: center;
    font-size: 60px ;
}

.tile ::after{
    content:'';
    position: absolute;
    inset: 0;
    background: black;
    transition: 0.25s;
    transform: rotateY(0deg);
}

.copyrights {

    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: x-large;

}